@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


p {
text-wrap: wrap;
word-wrap:break-word;
text-align: center;
max-width: 525px;


}

.services p {
float: right;
    position: absolute;
    right: 230px;
    bottom: -235px;
    font-family: 'Poppins', sans-serif;
    float: right;


}
.h2 {

font-size: larger;



}

.services h2 {
float: right;
    position: absolute;
    right: 240px;
    bottom: 15px;
    border: 5px solid;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px
}

.homeImageOne {
    position: absolute;
        right: 35px;
        top: 180px;
        border: 5px solid;
        padding: 0px;
        padding-bottom: 0px;
        
}



.homeImageTwo {
    position: absolute;
        left: 105px;
        bottom: -250px;
        border: 5px solid;
        padding: 0px;
        padding-bottom: 0px;
}

.homeSchedule {
    width: 175px;
    position: absolute;
        left: 292px;
        top: 300px
}

.learnMore {
    position: absolute;
    right: 110px;
    top: 490px;
    width: 175px;
}

.h2 {
    position: absolute;
        left: 185px;
        top: 140px;
        width: 600px;
        
    }

    .homePageText{
        position: absolute;
            left: 115px;
            top: 225px;
            width: 600px;
    }

    
.contactHome {
    
}
