@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


p {
text-wrap: wrap;
word-wrap:break-word;
text-align: center;
max-width: 525px;


}

.services  {
float: right;
    position: absolute;
    right: 43px;
    bottom: 40px;
    font-family: 'Poppins', sans-serif;
    float: right;

    


}
.ServicesCard{
   
    width: 250px;
        height: 400px;
        background-color: var(--greenish);
        font-family: var(--srcsansreg);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
        border-radius: 8px;
        transition: 90ms ease-in-out;
        margin: 50px;
           position: absolute;
    right: -130%;
    bottom: -15%;

}
.h2 {

font-size: larger;



}

.services h2 {
float: right;
    position: absolute;
    right: 27px;
    bottom: 260px;
    font-family: 'Poppins', sans-serif;
    float: right;
    text-decoration: underline;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px
}

.homeImageOne {
    position: absolute;
        right: 0%;
        top: 12.9%;
        border: 5px solid;
        padding: 0px;
        padding-bottom: 0px;
}



.homeImageTwo {
    position: absolute;
        left: 4.6%;
        bottom: -84%;
        border: 5px solid;
        padding: 0px;
        padding-bottom: 0px;  
}


.homeSchedule {
    width: 315px;
    position: absolute;
        left: -5%;
      top: 130%;
}

.learnMore {
    position: absolute;
        right: -10px;
        bottom: -20px;
        width: 200px;
}

.h2 {
    position: absolute;
        left: 91.7%;
        top: 700%;
        width: 600px;
        text-decoration: underline;
        color: white;
    }

    .homePageText{
        position: absolute;
            left: 6%;
            top: 50px;
            width: 600px;
            text-align: center;
    }

.Card {
width: 600px;
    height: 400px;
    background-color: var(--greenish);
    font-family: var(--srcsansreg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    transition: 90ms ease-in-out;
    margin: 80px;
    position: absolute;
        left: 55%;
        top: 550%;      
}

    
.contactHome {
    position: absolute;
        left: 315px;
        bottom: -200px;
        width: 600px;
}

.contactNumber{
    position: absolute;
        left: 550px;
        bottom: -165px;
        width: 600px;
       
}

.contactEmail{
    position: absolute;
    left: 700px;
    bottom: -163.5px;
    width: 600px;
}

.cardPlacement {
    position: absolute;
        left: .5%;
        top: 3.3%;
        width: 600px;
        transition: 90ms ease-in-out;
}



.ServicesCard:hover {
    transform: scale(1.03);
}

.homePageText{
    color: white;
}
