.MulchSlider{
    float: right;
    position: absolute; right: 10px;
        top: 165px;
        border: 5px solid;
}

.container{

}

.ScheduleService{
    float: right;
    float: right;
        position: absolute;
        right: 115px;
        top: 365px;
        white-space: nowrap;
            text-align: center;
       width: 200px;
       height: 33px;
       
   
}

.DeckButton {
    float: right;
    float: right;
    position: absolute;
    right: -85px;
    top: 800px;
    white-space: nowrap;
    text-align: center;
    width: 200px;
    height: 33px;


}

.DeckSlider {
    float: right;
    position: absolute;
    right: 10px;
    top: 600px;
    border: 5px solid;
}
.MulchText{
  
        position: absolute;
        left: 10px;
        top: 150px;
       
}


.DeckText{
    position: absolute;
        left: 10px;
        top: 575px;

}

.RockSlider {
        float: right;
            position: absolute;
            right: 10px;
            bottom: -625px;
            border: 5px solid;
}

.RockText{
    position: absolute;
        left: 10px;
        bottom: -510px;
}

.RockButton{
    float: right;
        float: right;
        position: absolute;
        right: -290px;
        bottom: -1255px;
        white-space: nowrap;
        text-align: center;
        width: 200px;
        height: 33px;
      
}

.BrushSlider{
    float: right;
        position: absolute;
        right: 10px;
        bottom: -1060px;
        border: 5px solid;

}
.BrushText {
    position: absolute;
    left: 10px;
    bottom: -950px;
}

.BrushButton{
    float: right;
        float: right;
        position: absolute;
        right: -490px;
        bottom: -1690px;
        white-space: nowrap;
        text-align: center;
        width: 200px;
        height: 33px;
}

