.MulchSlider{
    float: right;
    position: absolute; right: 10px;
        top: 165px;
        border: 5px solid;
          transition: 90ms ease-in-out;
}

.MulchSlider:hover {
    transform: scale(1.03);
}


.ScheduleService{
 
        position: absolute;
        left: 1080px;
        top: 480px;
  
       width: 200px;
       height: 33px;
       
   
}

.DeckButton {
 
    position: absolute;
    left: 880px;
    top: 1020px;
    width: 200px;
    height: 33px;


}

.DeckSlider {
    float: right;
    position: absolute;
    right: 10px;
    top: 700px;
    border: 5px solid;
     transition: 90ms ease-in-out;
}
.DeckSlider:hover {
    transform: scale(1.03);
}

.MulchText{
  
        position: absolute;
        left: 40px;
        top: 50px;
       
}


.DeckText{
    position: absolute;
        left: 40px;
        top: 40px;

}

.RockSlider {
        float: right;
            position: absolute;
            right: 10px;
            bottom: -830px;
            border: 5px solid;
             transition: 90ms ease-in-out;
}

.RockSlider:hover {
    transform: scale(1.03);
}


.RockText{
    position: absolute;
        left: 6%;
        top: 15%;
}


.RockButton{
        position: absolute;
        left: 677px;
        bottom: -1550px;
        width: 200px;
        height: 33px;    
}



.BrushSlider{
    float: right;
        position: absolute;
        right: 10px;
        bottom: -1365px;
        border: 5px solid;
         transition: 90ms ease-in-out;
}



.BrushSlider:hover {
    transform: scale(1.03);
}


.BrushText {
    position: absolute;
    left: 6%;
    top: 20%;
}


.BrushButton{
        position: absolute;
        left: 1080px;
        bottom: -2030px;
        width: 200px;
        height: 33px;
}


.TrimmingSlider {
float: right;
    position: absolute;
    right: 10px;
    bottom: -1890px;
    border: 5px solid;
     transition: 90ms ease-in-out;
}


.TrimmingSlider:hover {
    transform: scale(1.03);
}


.WeedingSlider {
float: right;
    position: absolute;
    right: 10px;
    bottom: -2420px;
    border: 5px solid;
     transition: 90ms ease-in-out;
}


.WeedingSlider:hover {
    transform: scale(1.03);
}


.WeedingButton {
    position: absolute;
    left: 1080px;
    bottom: -2982px;
    width: 200px;
    height: 33px;
}

.TrimmingButton {
    position: absolute;
    left: 1080px;
    bottom: -2505px;
    width: 200px;
    height: 33px;
}

.TrimmingText {
position: absolute;
    left: 6%; 
    top: 14%;
}

.WeedingText {
position: absolute;
    left: 6%;
    bottom: 25%;
}

.MulchHeader {
    position: absolute;
        left: 260px;
        top: 10px;
}

.DeckHeader{
position: absolute;
    left: 230px;
    top: 0px;
}

.RockHeader {
position: absolute;
    left: 38%;
    top: 5%;
}

.BrushHeader {
position: absolute;
    left: 32.5%;
    top: 5%;
}

.TrimmingHeader {
position: absolute;
    left: 32.5%;
    top: 4%;
}

.WeedingHeader {
position: absolute;
    left: 42%;
    top: 4%;
}

.MulchCard { 
    width: 600px;
        height: 450px;
        background-color: var(--greenish);
        font-family: var(--srcsansreg);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
        border-radius: 8px;
        transition: 90ms ease-in-out;
        margin: 80px;
        position: absolute;
            left: 0%;
            top: 80px;


}

.MulchCard:hover {
    transform: scale(1.03);
}

.DeckCard {
        width: 600px;
            height: 450px;
            background-color: var(--greenish);
            font-family: var(--srcsansreg);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
            border-radius: 8px;
            transition: 90ms ease-in-out;
            margin: 80px;
            position: absolute;
            left: 0%;
            top: 630px;
}

.DeckCard:hover {
    transform: scale(1.03);
}

.RockCard {
    width: 600px;
        height: 450px;
        background-color: var(--greenish);
        font-family: var(--srcsansreg);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
        border-radius: 8px;
        transition: 90ms ease-in-out;
        margin: 80px;
        position: absolute;
        left: 0%;
        top: 1150px;
}

.RockCard:hover {
    transform: scale(1.03);
}

.BrushCard { 
        width: 600px;
            height: 450px;
            background-color: var(--greenish);
            font-family: var(--srcsansreg);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
            border-radius: 8px;
            transition: 90ms ease-in-out;
            margin: 80px;
            position: absolute;
            left: 0%;
            top: 205%;
}

.BrushCard:hover {
    transform: scale(1.03);
}

.TrimmingCard {
    width: 600px;
        height: 450px;
        background-color: var(--greenish);
        font-family: var(--srcsansreg);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
        border-radius: 8px;
        transition: 90ms ease-in-out;
        margin: 80px;
        position: absolute;
        left: 0%;
        top: 270%;
}

.TrimmingCard:hover {
    transform: scale(1.03);
}

.WeedingCard {
    width: 600px;
    height: 450px;
    background-color: var(--greenish);
    font-family: var(--srcsansreg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
    border-radius: 8px;
    transition: 90ms ease-in-out;
    margin: 80px;
    position: absolute;
    left: 0%;
    top: 335%;
}

.WeedingCard:hover {
    transform: scale(1.03);
}