table {
    width: 100%;
    text-align: left;
}

table,
th,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    height: 2.15em;

}

th,
td {
    padding: .5em;
    min-width: 3.5em;
}

thead {
    background: #7A7A7A;
    color: #FCFCFC;
}
.DialogText{
    float: middle;
    position: absolute;
    right: 70px;
    top: 45px;
    
}

#complete{
    color: rgb(2, 39, 246);
    font-size: larger;
}

#pending {
    font-size: larger;
    color: orange
}

#approved {
    color: rgb(127, 212, 0);
    font-size: larger;
}

#WIP {
    color: rgb(255, 0, 0);
        font-size: larger;
}

