table {
    width: 100%;
    text-align: left;
}

table,
th,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    height: 2.15em;

}

th,
td {
    padding: .5em;
    min-width: 3.5em;
}

thead {
    background: #7A7A7A;
    color: #FCFCFC;
}
.DialogText{
    float: middle;
    position: absolute;
    right: 70px;
    top: 45px;
    
}

#complete{
    color: rgb(2, 39, 246);
    font-size: larger;
}

#pending {
    font-size: larger;
    color: orange
}

#approved {
    color: rgb(127, 212, 0);
    font-size: larger;
}

#WIP {
    color: rgb(255, 0, 0);
        font-size: larger;
}

.LogInAppointmentCard{
      padding-left: 100px;
    padding-right: 50px;
     width: 550px;
     height: 60px;
     background-color: var(--greenish);
     font-family: var(--srcsansreg);
      overflow: hidden;
    display: flex;
    flex-direction: column;
     box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
     border-radius: 8px;
    transition: 90ms ease-in-out;
    margin: 50px;
     position: absolute;
     top: 20%;
     left: 21%;
}

.AddAppointment {
    position: absolute;
    right: 0%;
       
}
